<!-- Comment I just put here if ever you guys need it or not-->
<main class="w-full mt-5 flex-1">
    {{{ comment }}}
    <div class="text-xs font-semibold">{{swap.user.name}}</div>
    <div class="text-xs font-semibold">{{format_date swap.date_created}}</div>
  </div>
</main>